{% macro display_product(metadata) -%}

  <style>
  .product-admin {
    border: 2px solid #c75275;
    padding: 15px;
  }
  </style>



  <div style="display:block" class="product-admin">
    <form method="post" action="/admin/products">
    <span>{{ metadata['product_name'] }} </span><br />
    Deposit Amount: &pound;{{ metadata['deposit_amount'] }}<br />
        <input name="new_name" id="new_name">
        <input type="hidden" id="product_id" name="product_id" value="{{metadata['product_id']}}">
        <input type="submit" class="btn btn-primary inline" name="Edit" value="Edit">
        <input type="submit" class="btn btn-danger" name="Delete" value="Delete">
    </form>
  </div>

{%- endmacro %}
