{% extends "layout.html" %}
{% from "admin/admin-nav.jinja" import admin_nav %}
{% block body %}

<h1>Available Deposits</h1>
{{ admin_nav() }}


<p>List of deposits which are available for charging.</p>

<hr />

{% if available_deposits|length == 0 %}

    There are no deposits available.
{% endif %}

{% for available_deposit in available_deposits %}

  <p>Service: {{ available_deposit['requested_product'] }}</p>
  <p>Customer name: {{ available_deposit['customer_name'] or 'Not given' }}</p>
  <p>Customer mobile: {{ available_deposit['customer_mobile'] or 'Not given' }}</p>
  <p>Email: {{ available_deposit['customer_email'] }}</p>
  <p>Date requested: {{ available_deposit['requested_date'] }}</p>

  <span id="charge-deposit-message"></span>
  <a href="/charge-deposit?payment_method_id={{ available_deposit['payment_method'] }}&stripe_customer_id={{ available_deposit['stripe_customer_id'] }}&timestamp={{ available_deposit['timestamp'] }}" id="charge-deposit" class="btn btn-primary">Confirm &amp; charge &pound;15 now</a>

  <a href="/reschedule?timestamp={{ available_deposit['timestamp'] }}" id="reschedule-deposit" class="btn btn-warning">Reschedule</a>

  <a href="{{ url_for('cancel_booking', timestamp=available_deposit['timestamp']) }} " id="cancel-booking" class="btn btn-danger">Cancel</a>
  <p>Metadata</p>
  <small>
  <code>
  {{ available_deposit }}
  </code>
  </small>

  <hr />
{% endfor %}

  <script>
  chargeBtn = document.getElementById("charge-deposit");
  chargeBtn.addEventListener("click", function(e) {
    e.target.style.display = "none";
    chargeDepositMsg = document.querySelector('#charge-deposit-message');
    chargeDepositMsg.textContent = "Charging deposit now...";
    chargeDepositMsg.style.border = '1px solid lightgray';
    chargeDepositMsg.style.padding = '10px';
  });
  </script>

{% endblock %}
