{% extends "layout.html" %}
{% from "admin/admin-nav.jinja" import admin_nav %}
{% from "admin/admin-buttons.jinja" import reschedule_booking_btn, refund_deposit_btn , cancel_booking_btn %}
{% block body %}

<h1>Collected Deposits</h1>

{{ admin_nav() }}

<p>List of deposits which have been charged successfully.</p>
<hr />

{% for collected_deposit in collected_deposits %}
  <p>Service: {{ collected_deposit['requested_product'] }}</p>
  <p>Customer name: {{ collected_deposit['customer_name'] or 'Not given' }}</p>
  <p>Customer mobile: {{ collected_deposit['customer_mobile'] or 'Not given' }}</p>
  <p>Email: {{ collected_deposit['customer_email'] }}</p>
  <p>Date requested: {{ collected_deposit['requested_date'] }}</p>

  {{ reschedule_booking_btn(timestamp=collected_deposit['timestamp']) }}
  {{ cancel_booking_btn(timestamp=collected_deposit['timestamp']) }}
  {{ refund_deposit_btn(timestamp=collected_deposit['timestamp']) }}

  <p>Metadata</p>
  <small>
  <code>
  {{ collected_deposit }}
  </code>
  </p>
  </small>
  <hr />
{% endfor %}


{% endblock %}
