{% extends "layout.html" %}
{% from "admin/admin-nav.jinja" import admin_nav %}
{% from "admin/admin-buttons.jinja" import reschedule_booking_btn, cancel_booking_btn %}

{% block body %}

<h1>Available Deposits</h1>
{{ admin_nav() }}


<h3>Understanding Available Deposits</h1>
<p>An available deposit means a person has given permission to be charged, but only if their requested
booking is available.</p>

<p>If their requested booking is available, you can charge them automatically now by clicking "Confirm &amp; charge", and the payment will be taken.</p>

<p>If the prodict/service requested is not available, you may wish to contact them, and reshedule the request.</p>

<p>Finally, if not possible at all, then the request may be cancelled by clicking 'Cancel Booking'. No payment is taken unless you press 'Confirm &amp; charge'.</p>


<hr />

{% if available_deposits|length == 0 %}

There are no new deposit requests. See <a href="{{ url_for('collected_deposits')}}">collected deposits.</a>
{% endif %}

{% for available_deposit in available_deposits %}
  <p>Product ID: {{ available_deposit['product_id'] }}</p>
  <p>Service: {{ available_deposit['requested_product'] }}</p>
  <p>Customer name: {{ available_deposit['customer_name'] or 'Not given' }}</p>
  <p>Customer mobile: {{ available_deposit['customer_mobile'] or 'Not given' }}</p>
  <p>Email: {{ available_deposit['customer_email'] }}</p>
  <p>Date requested: {{ available_deposit['requested_date'] }}</p>
  <p>Time requested: {{ available_deposit['requested_time'] }}</p>
  <p>Deposit Amount: {{available_deposit["deposit_amount"]}}</p>


  <span id="charge-deposit-message"></span>
  <a href="{{ url_for('charge_deposit', payment_method_id=available_deposit['payment_method'], stripe_customer_id=available_deposit['stripe_customer_id'], timestamp=available_deposit['timestamp'], requested_product=available_deposit['product_id']) }}" id="charge-deposit" class="btn btn-primary">Confirm &amp; charge {{available_deposit["deposit_amount"]}} now</a>

  {{ reschedule_booking_btn(timestamp=available_deposit['timestamp']) }}

  {{ cancel_booking_btn(timestamp=available_deposit['timestamp']) }}

  <p>Metadata</p>
  <small>
  <code>
  {{ available_deposit }}
  </code>
  </small>

  <hr />
{% endfor %}

  <script>

  chargeBtn = document.getElementById("charge-deposit");
  chargeBtn.addEventListener("click", function(e) {
    e.target.style.display = "none";
    chargeDepositMsg = document.querySelector('#charge-deposit-message');
    chargeDepositMsg.textContent = "Charging deposit now...";
    chargeDepositMsg.style.border = '1px solid lightgray';
    chargeDepositMsg.style.padding = '10px';
  });
  </script>

{% endblock %}
