{% extends "layout.html" %}
{% block body %}

<style>

#fieldset {
  padding: 20px;
  margin: 0px;
  border: 1px solid grey;
}

#products {
  display: block;
  margin-top: 20px;
  width: 90%;
  max-width: 250px;
  height: 36px;
}

</style>

<h1>Book Now</h1>

<p>Book your service now. You can choose the date and time, 
we'll confirm your booking. A deposit will be taken after your booking request is confirmed. No money will be taken until your booking is confirmed.</p>

<form action="/request-date-time">
  <div id="fieldset">
    <label for="products">Select service:</label>
    <select name="product" id="products">
        <option value="">--Please choose an option--</option>
        <option value="Laser Hair Removal">Laser Hair Removal</option>
        <option value="Waxing">Waxing</option>
        <option value="Threading">Threading</option>
    </select>

    <br />
    <input id="submit-chosen-treatment" type="submit" class="btn btn-primary" />
  </div>
</form>

{% endblock %}
