{% extends "layout.html" %}
{% block body %}

<h1>Deposit: {{product_name}}</h1>

<p>Please reserve your booking by making a small deposit of {{ deposit | currencyFormat }}.</p>

<p>Note: No payment is taken until we confirm your booking.</p>

<form action="/create-checkout-session" method="POST">
  <label for="email">Email <input name="email" id="email" type="email" required /> (required)</label>
  <br />
  <br />
  <label for="name">Name <input name="name" id="name" /></label>
  <br />
  <br />
  <label for="mobile">Mobile <input name="mobile" id="mobile" /></label>
  <input type="submit" value="Checkout" class="btn btn-primary">
  <input name="product" type="hidden" value="" id="product-chosen-hidden" />
  <input name="date" type="hidden" value="" id="date-chosen-hidden" />
  <input name="time" type="hidden" value="" id="time-chosen-hidden" />


</form>

<script>
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);

const product = urlParams.get('product')
document.querySelector("#product-chosen-hidden").value = product;
console.log(product);

const date = urlParams.get('date')
document.querySelector("#date-chosen-hidden").value = date;
console.log(date);

const time = urlParams.get('time')
document.querySelector("#time-chosen-hidden").value = time;
console.log(time);

</script>

{% endblock %}
