{% extends "layout.html" %}
{% block body %}

<h1>Select Date &amp; time</h1>

<p>What is your preferred date &amp; time please?</p>

<h2>Chosen product: <span id="product-chosen"></span></h2>

<form action="/deposit">
  <label for="date">Date <input type="date" id="start" name="date" min="2021-01-01" max="2021-12-31"></label>
  <label for="time">Time <input name="time" type="time" required /></label>

  <input name="product" type="hidden" value="" id="product-chosen-hidden" />

  <input type="submit" class="btn btn-primary" />
</form>

<script>
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);

const product = urlParams.get('product')
document.querySelector("#product-chosen").textContent = product;
document.querySelector("#product-chosen-hidden").value = product;
</script>

{% endblock %}
