{% extends "layout.html" %}
{% block body %}

<h1>Select Date &amp; time</h1>

<h3>Selected: {{ product['product_name'] }}</h3>

<p>What is your preferred date &amp; time please?</p>


<form action="/deposit">
  <label for="date">Date <input type="date" id="start" name="date" min="2021-01-01" max="2022-12-31"></label>
  <label for="time">Time <input name="time" type="time" required /></label>
  <input name="product_id" type="hidden" value="{{ product['product_id'] }}" id="product-chosen-hidden" />
  <input type="submit" class="btn btn-primary" value="Submit" />
</form>

<script>
const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);


var today = new Date();
var day = today.getDate()+2;
var month = today.getMonth()+1; //January is 0!
var year = today.getFullYear();
 if(day<10){
        day='0'+day
    }
    if(month<10){
        month='0'+month
    }
today = year+'-'+month+'-'+day;
document.getElementById("start").setAttribute("min", today);
</script>

{% endblock %}
